<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
      	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  		<link rel="stylesheet" href="front_end.css">
      <link rel="stylesheet" type="text/css" href="/static/Yogi_Brat/style.css"/>
</head>
<img src="/static/images/Yogi_Brat_Logo.png" alt="Yogi Brat" style="width:228px;height:228px;" align="middle">
<h1>  Welcome to Yogi Brat!<h1>
	<h2> A resource for lovers of all things Yoga and Thai Yoga Massage.</h2>
		<div class="container"> <!-- Place container div after navbar if using static or fixed nav class. -->
  <!-- NAVBAR -->
  <nav class="navbar navbar-default">  
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home/">Home</a></li>
        <li><a href="/yoga/">Yoga</a></li>
        <li><a href="/thai_yoga_massage/">Thai Yoga Massage</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Schedule <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/events">Events</a></li> 
            <li><a href="/events">Classes</a></li>
            <li><a href="/contact">Contact</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Register/Schedule</li>
            <li><a href="mailto:Juliarix@gmail.com?subject=Course%20Registration">Register for a course</a></li>
            <li><a href="mailto:Juliarix@gmail.com?subject=Schedule%20a%20Session">Schedule a session</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/blog">Blog</a></li>
        <Li><a href="/quiz">Play</a></li>
      </ul>
      </ul>
    </div><!--/.nav-collapse -->
  </nav> 


<h1>Events</h1>
<br>
<br>
	<h3>Workshops</h3>
		<h3> Chakras: GPS to the soul: TBA </h3>
			<p> Come learn the ancient mapping system to your life. No prior knowledge required. </p>
		<h3> Partner Thai Yoga:  TBA </h3>
			<p> A 3 hour workshop that will leave you feeling relaxed and glad you came.  Take away some techniques to share with loved ones.  No previous knowledge or experience required. CEs awarded for Yoga Instructors.</p>

	<h3>Continuing Education</h3>
    
    <p>Thai Yoga Massage Continuing Education courses available in 2016 through Mind Body Institute Nashville, TN.  Start your 200 hour practitioner's program.</p>
  <br>
<h1> To register for a workshop or Thai Yoga Massage course, click below. </h1>
<form>
<input type="button" value="Register Me!!!" onClick="window.location.href='mailto:juliarix@gmail.com';" />
</form>

</html>